Samples/Working with XML/Schemas/Customers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="customers">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="customer">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="fname" type="xsd:string" />
              <xsd:element name="lname" type="xsd:string" />
              <xsd:element name="address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="street" type="xsd:string" />
                    <xsd:element name="city" type="xsd:string" />
                    <xsd:element name="zip" type="xsd:int" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:int" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
