Samples/Working with XML/Schemas/ServerConfig.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ServerConfig">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Servers">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" name="Server" type="Server" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ConnectionStrings">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" name="ConnectionString" type="ConnectionString" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Server">
		<xsd:sequence>
			<xsd:element name="Domains">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" name="Domain" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string" />
		<xsd:attribute name="Type" type="ServerType" />
		<xsd:attribute name="Environment" type="ServerEnvironment" />
		<xsd:attribute name="UserName" type="xsd:string" />
		<xsd:attribute name="Password" type="xsd:string" />
		<xsd:attribute name="Domain" type="xsd:string" />
		<xsd:attribute name="IP" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ConnectionString">
		<xsd:sequence>
			<xsd:element name="Primary" type="xsd:string" />
			<xsd:element name="Secondary" type="xsd:string" />
			<xsd:element name="Development" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="Database" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="ServerType">
		<xsd:restriction base="xsd:string">
		 <xsd:enumeration value="Web" />
		 <xsd:enumeration value="Proxy" />
		 <xsd:enumeration value="Mail" />
		 <xsd:enumeration value="Database" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServerEnvironment">
		<xsd:restriction base="xsd:string">
		 <xsd:enumeration value="Development" />
		 <xsd:enumeration value="Deployment" />
		 <xsd:enumeration value="Production" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>